
@import "partials/functions";
@import "partials/mixins";
@import "partials/variables";

@for $i from 1 through 6 {
  .col-#{$i}  {
   width: $i * 2em;
  }
}

$speakers: bob-banker, patty-plume, sandra-smith;
@each $speaker in $speakers {
  .#{$speaker}-profile {
    background-image: url('/img/#{$speaker}.png');
  }
}

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

@include fancy-links;

@include apply-to-ie-6{
  body{
    font-size: 125%;
  }
}

body{
  color: $text-color;
  font-size: em(18px);
  background-color: $body-background-color;

  @include zebra{
    background-color: white;
    color: black;
  }

  @include fox{
    background-color: darkorange;
    color: black;
  }
}

h1, h2, h3, h4{
  font-family: $headline-font;
}

h1{
  @include large-text;
}

p{
  font-family: $text-color;
}

a{
  color: $link-color;

  @include fox{
    color: brown;
  }
  &:hover{
    color: darken($link-color, 35%);
  }
}

%highlight{
  font-style: italic;
}

.sub-title{
  @extend %highlight;
  @extend .foo !optional;
}

.header{
  @include box;
  @include box-shadow(0px 4px 4px $shadow-color, 4px 4px 4px $shadow-color);
  height: $header-height;
  background-color: $ternary-color;

    .main-menu{
      li{
        display: inline;
      }
      a{
        color: $menu-item-color;
        padding: 6px 8px;
        border-bottom: 1px solid transparentize(#fefefe, 1);
        transition: border-bottom 0.5s;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;

        &:hover{
          border-bottom: 1px solid opacify(#fefefe, .5);
        }
      }
    }


}
.footer {
  height: $footer-height;
  background-color: $ternary-color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-right: 1px;

  @include leaf{
    background-color: greenyellow;
  }

  @include zebra{
    background-color: black;
  }

  @include fox{
    background-color: orange;
  }
}
.main{
  width: $content-width;
  @include large-screens {
    width: auto;
    max-width: $content-width;
  }
  margin-left: auto;
  margin-right: auto;
}

.button{
  @include box;
  @include warning;
  @include box-shadow(4px 4px $shadow-color, 4px 4px 4px $shadow-color);
  padding: 8px 12px;
}

.cta-button{
  @extend .button;
}

.super-cta-button{
  @extend .cta-button;
}